:root {
    --blue: #3397DA;
    --dark-blue: #4376b3;
    --light-blue: #d7e9ff;
    --yellow: #eee57f;
    --bright-yellow: #a5991781;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Almarai;
    /* outline: 1px solid #f00 !important; */

}

body {
    background-color: var(--yellow);
    font-family: 'Almarai';
    
}

/* home styles */

.banner {
    background-image: url(/assets/banner_main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.466);
    font-size: larger;
}


.home>.row:nth-child(1) {
    min-height: 200px;
}

.about-info {
    min-height: 250px;
    max-width: 320px;
    background-color: var(--blue);
    margin-top: 20px;
    border-radius: 0.5rem;
    box-shadow: 0 5px 20px var(--bright-yellow);
}

.about-info:nth-child(1) h3 {
    font-style: italic;
}

.about-info:nth-child(2) {
    font-size: 0.8rem;
    padding-top: 15px;
}

/* Roll Ends */

.roll-ends {
    margin-top: 29px;
    background-color: var(--light-blue);
    max-width: 360px;
    border-radius: 0.5rem;
    padding: 20px;
    box-shadow: 0 5px 20px var(--bright-yellow);
}

.roll-ends p {
    max-width: 600px;
    font-size: 0.9rem;
}

.roll-ends img {
    border-radius: 0.5rem;
}

/* Regular Stock */

.regular-stock {
    margin-top: 29px;
    background-color: var(--light-blue);
    max-width: 360px;
    border-radius: 0.5rem;
    padding: 20px;
    box-shadow: 0 5px 20px var(--bright-yellow);
}

.regular-stock p {
    max-width: 600px;
    font-size: 0.9rem;
}

.regular-stock ul li {
    font-size: 0.9rem;
}

.regular-stock img {
    border-radius: 0.5rem;
}

/* Service */

.services {
    margin-top: 29px;
    background-color: var(--light-blue);
    max-width: 360px;
    border-radius: 0.5rem;
    padding: 20px;
    box-shadow: 0 5px 20px var(--bright-yellow);
}

.card-info {
    margin: 0.5rem;
    background-color: var(--blue);
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px #51ace96b;
    font-size: 0.9rem;
}

.card-info h5 {
    padding-top: 10px;
}

/* Contact */

.contact {
    margin-top: 29px;
    background-color: var(--light-blue);
    max-width: 360px;
    border-radius: 0.5rem;
    padding: 20px;
    box-shadow: 0 5px 20px var(--bright-yellow);
}

.map-info {
    background-color: var(--blue);
    border-radius: 0.5em;
    padding: 15px
}

.map-info:nth-child(2) {
    margin-top: 15px;
}

iframe {
    max-height: 300px;
    border-radius: 0.5rem;
}

.map-info ul {
    text-align: center;
    list-style: none;
    padding: 0;
    font-size: 0.9rem;
}

footer {
    background-color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}



@media only screen and (min-width: 768px) {

    
        

    .about-info {
        min-height: 250px;
        min-width: 500px;
        margin: 20px 30px;
    }

   .about-info p {
    font-size: 14px;
   }

    .roll-ends {
        max-width: 900px;
        padding: 20px 20px 30px 20px;
    }

    .regular-stock {
        max-width: 900px;
        
    }

    .services {
        max-width: 900px;
    }

    .card-info {
        max-width: 250px;
        margin: 0 auto;
    }
    
    .contact {
        max-width: 900px;
    }
    
    .map-info {
        max-width: 400px;
        margin: 0 auto;
        min-height: 400px;
    }

    .map-info:nth-child(2) {
        margin-top: 0
    }

}

@media only screen and (min-width: 565px) {
    .services {
        min-width: 500px;
    }

    .card-info {
        min-width: 150px;
        margin: 0 auto;
    }
}
